.authorization {
  display: flex;
  flex-direction: column;
  width: 455px;
  align-items: center;
  background-color: #FAFAFAFA;
  border-radius: 0px;
  padding: 30px;
  align-self: center;
  margin-top: 250px;
}
.authorization__header {
  font-size: 45px;
  font-weight: 700;
  font-family: Gropled;
  color: #0546F0;
  margin: 8px;
}
.authorization input {
  margin: 8px 20px;
  color: #93A8DE;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.authorization__btn {
  margin: 8px;
  border: none;
  background-color: #0546F0;
  border-radius: 0px;
  font-family: Gropled;
  color: #FAFAFAFA;
  font-weight: 700;
  font-size: 22px;
  padding: 5px 10px;
}
