@import "../utils/colors.less";

.disk {
    margin-top: 500px;

    &_btns {
        display: flex;
        font-size: 45px;
        font-weight: 700;
    }

    &_create {
        margin-left: 10px;
    }
}