@import "D:\Учеба\3 курс\6 семестр\IT-проекты\SSAU-management-studio\client\src\components\utils\colors.less";

.navbar {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    justify-content: center;
    background-color: @background_navbar-color;
    width: 100%;
    position: absolute;

    &__header {
        margin-left: 10px;
        font-size: 22px;
        font-weight: 700;
        font-family: Gropled;
        color: @bluefont-color;
    }

    &__login {
        margin-left: auto;
        font-size: 22px;
        margin-right: 10px;
        font-family: Gropled;
        color: @bluefont-color;
    }
    &__registration {
        font-size: 22px;
        font-family: Gropled;
        color: @bluefont-color;
    }
}

.container {
    width: 1140px;
    display: flex;
    align-items: center;

}